<h2>Your Account</h3>

<%= form_for(resource, as: resource_name, url: admin_registration_path, html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class='card'>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocorrect:"off", autocapitalize:"off", spellcheck:"false" %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>

    <p><a href="#" data-toggle='#password-change'>Change Password</a></p>

    <div id='password-change' class="field hidden">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autocomplete: "off" %>
      <%= f.label :password, "New Password" %>
      <%= f.password_field :password, autocomplete: "off" %>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>

  <div class="form-footer">
    <button type='submit' class='primary-button'>Save Changes</button>
  </div>
<% end %>
