<%= action_heading "Users", "Add user", new_admin_invitation_path %>

<ul class='card-list'>
  <li class='card-heading'>
    Admin Users
    <span class='help-text'>(can modify tickets and invite more users)</span>
  </li>
  <% Admin.autocratic.each do |user| %>
    <li class='card-list-item'>
      <div class='flex-row auto-width-columns'>
        <span class='email'><%= user.email %></span>
        <span class='text-right'>
          <%= button_to 'delete', user, :method => 'delete', class: 'button', data: { confirm: "are you sure?" } unless user == current_admin %>
        </span>
      </div>
    </li>
  <% end %>

  <% if Admin.standard.size > 0 %>
    <% if Admin.standard.any? { |admin| admin.invitation_accepted_at != nil } %>
      <li class='card-heading'>Standard Users</li>
      <% Admin.standard.each do |user| %>
        <% if user.invitation_accepted_at != nil %>
          <li class='card-list-item'>
            <div class='flex-row auto-width-columns'>
              <span class='email'><%= user.email %></span>
              <span class='text-right'>
                <%= button_to 'delete', user, :method => 'delete', class: 'button', data: { confirm: "are you sure?" } unless user == current_admin %>
              </span>
            </div>
          </li>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</ul>

<% if Admin.invitation_not_accepted.any? %>
  <ul class='card-list'>
    <li class='card-heading'>Invited but not yet accepted</li>
    <% Admin.invitation_not_accepted.each do |admin| %>
      <li class='card-list-item'>
        <%= admin.email %>
        <%= "admin" if admin.autocratic %>
      </li>
    <% end %>
  </ul>
<% end %>
