<%= action_heading "Users", "Add user", new_admin_invitation_path %>

<ul class='card-list'>
  <li class='card-heading'>Admin Users</li>
  <% Admin.autocratic.each do |admin| %>
    <li class='card-list-item'>
      <%= admin.email %>
      <%= link_to 'x', admin, :method => 'delete', data: { confirm: "Are you sure?" } unless admin == current_admin %>
    </li>
  <% end %>
</ul>

<% if Admin.standard.size > 0 %>
  <ul class='card-list'>
    <li class='card-heading'>Standard Users</li>
    <% Admin.standard.each do |admin| %>
      <li class='card-list-item'>
        <%= admin.email %>
        <%= link_to 'x', admin, :method => 'delete', data: { confirm: "Are you sure?" } unless admin == current_admin %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if Admin.invitation_not_accepted.any? %>
  <ul class='card-list'>
    <li class='card-heading'>Invited but not yet accepted</li>
    <% Admin.invitation_not_accepted.each do |admin| %>
      <li class='card-list-item'>
        <%= admin.email %>
        <%= "admin" if admin.autocratic %>
      </li>
    <% end %>
  </ul>
<% end %>
