<h2>Personal Information</h2>
<%= form_for @purchase, :remote => true, :url => '/purchases/update_personal_info', :method => 'patch', :html => {:id => "personal_info_form"} do |f| %>
  <span id="errors"></span>

  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li style="color:red"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-row">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <%= f.hidden_field :redemption_id %>

  <br>

  <%= f.submit "Pay" %>
<% end %>
