<% content_for :head do %>
  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
<% end %>

<table>
  <tbody>
    <tr>
      <th>Name</th>
      <th>Tax</th>
      <th>Total Price</th>
      <th>Email</th>
      <th>Redemption ID</th>
      <th>Redeemed On</th>
      <th>Expires On</th>
    </tr>
    <% Purchase.complete.each do |purchase| %>
      <tr>
        <td><%= purchase.name %></td>
        <td>$<%= purchase.tax.to_i / 100.00 %></td>
        <td>$<%= purchase.total_price.to_i / 100.00 %></td>
        <td><%= purchase.email %></td>
        <td><%= purchase.redemption_id %></td>
        <td><%= purchase.redeemed_on %></td>
        <td><%= purchase.expires_on %></td>
        <td><%= link_to "Show", "purchase/#{purchase.redemption_id}" %>
    <% end %>
  </tbody>
</table>
