<h2>Store Settings</h2>
<%= form_for @settings, method: :patch, url: settings_update_path do |f| %>
  <div class='card'>
    <div class="field">
      <%= f.label :tax %>
      <%= f.text_field :tax %>
    </div>

    <div class="field">
      <%= f.label :company_email, "Reply to address on receipts" %>
      <%= f.text_field :company_email %>
    </div>

    <div class="field">
      <%= f.label :sale_notification_list, "Email addresses that will receive a notification for every sale" %>
      <%= f.text_field :sale_notification_list %>
  </div>

  <div class="form-footer">
    <button class='primary-button'>Save Changes</button>
  </div>
<% end %>
