<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-row">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="form-row">
    <%= f.label :price %>
    $<%= f.text_field :price, value: @ticket.price / 100.00  %>
  </div>

  <div>
    <%= f.label :for_sale_on %>
    <%= f.date_select :for_sale_on %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
