<%= form_for(@ticket) do |f| %>
<div class='card'>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'full' %>
  </div>

  <div class="form-row">
    <%= f.label :price %>
    <div><%= f.text_field :price, value: price_number(@ticket.price) %></div>
  </div>

  <div class="form-row">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class='form-row'>
    <div>
      <label><%= radio_button_tag "ticket[for_sale]", "true", checked: true %> For sale now</label>
    </div>
    <div>
      <label><%= radio_button_tag "ticket[for_sale]", "false" %> Not for sale</label>
    </div>
    <div>
      <label><%= radio_button_tag "ticket[for_sale]", "after" %> Sell after:</label>
      <%= f.date_select :for_sale_on %>
    </div>
  </div>

</div>
<footer class="form-footer">
  <%= link_to 'Cancel', tickets_path, class: 'text-button' %>
  <button class='primary-button' type="submit" name="commit">Save Ticket</button>
</footer>
<% end %>
