<div class='grid-cell five-of-six'>
  <%= link_to edit_item_path(item), class: 'ticket-item-link' do %>
    <h4 class='ticket-name'><%= item.name %></h4> - <span class='item-price'><%= price item.price %></span>
    <% if !item.description.nil? %><p class='ticket-description'><%= item.description %></p><% end %>
  <% end %>
</div>

<div class='order-buttons grid-cell one-of-six align-right'>
  <% if current_admin && current_admin.autocratic %>
    <%= form_tag change_priority_path(priority: item.priority, id: item.id), :method => :patch do %>
      <input type="hidden" name="type" value="<%= type %>">
        <%= submit_tag "▲", name: "up", class: 'arrow-button', title: "Move up" %>
        <%= submit_tag "▼", name: "down", class: 'arrow-button', title: "Move down" %>
    <% end %>
  <% end %>
</div>
