<div class='ticket-title grid align-middle'>
  <div class='grid-cell one-of-two'><h2>Packages</h2></div>
  <div class='grid-cell one-of-two align-right'>
    <%= link_to 'New Package', new_package_path, class: "button alt-button" %>
  </div>
</div>

<div class='tickets card'>
  <% @current_packages.each do |package| %>
    <div class='ticket grid no-gutter'><%= render partial: "ticket_item", locals: { item: package, type: "Package" } %></div>
  <% end %>
</div>

<div class='ticket-title grid align-middle'>
  <div class='grid-cell one-of-two'><h2>Tickets</h2></div>
  <div class='grid-cell one-of-two align-right'>
    <%= link_to 'New Ticket', new_ticket_path, class: "button alt-button" %>
  </div>
</div>

<div class='tickets card'>
  <% @current_tickets.each do |ticket| %>
    <div class='ticket grid no-gutter'><%= render partial: "ticket_item", locals: { item: ticket, type: "Ticket" } %></div>
  <% end %>
</div>

<%= link_to 'Not For Sale Tickets', nfs_index_path %>
