<div class='ticket-title grid align-middle block-margin'>
  <div class='grid-cell one-of-two'>
    <span class='page-heading'>For Sale</span>
    <%= link_to '(Not for sale)', nfs_index_path, class: 'minor-link' %>
  </div>
  <div class='grid-cell one-of-two align-right'>
    <%= link_to "New Package", new_package_path, class: "button alt-button" %>
    <%= link_to "New Ticket", new_ticket_path, class: "button alt-button" %>
  </div>
</div>

<ul class='card-list'>
  <li class='card-heading'>Packages</li>
  <% @current_packages.each do |package| %>
    <li class='card-list-item grid no-gutter'><%= render partial: "ticket_item", locals: { item: package, type: "Package" } %></li>
  <% end %>
</ul>

<ul class='card-list'>
  <li class='card-heading'>Tickets</li>
  <% @current_tickets.each do |ticket| %>
    <li class='card-list-item grid no-gutter'><%= render partial: "ticket_item", locals: { item: ticket, type: "Ticket" } %></li>
  <% end %>
</ul>

