<h2>Listing Tickets & Packages (not for sale)</h2>

<% @nfs_tickets.each do |ticket| %>
  <strong><%= ticket.name %></strong> |
  <%= link_to 'Show', ticket %>
  <%= link_to 'Edit', edit_ticket_path(ticket) %>
  <%= link_to 'Destroy', ticket, :method => 'delete', data: { confirm: 'Are you sure?' } %>
  <br>
<% end %>

<% 3.times do %>
  <br>
<% end %>

<% @nfs_packages.each do |package| %>
  <strong><%= package.name %></strong> |
  <%= link_to 'Show', package %>
  <%= link_to 'Edit', edit_package_path(package) %>
  <%= link_to 'Destroy', package, :method => 'delete', data: { confirm: 'Are you sure?' } %>
<% end %>
