<% content_for :head do %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<% end %>

<h2>Tickets</h2>

<%= form_for @purchase, :url => {action: "create"}, :method => "post", :html => {:id => "package_form"} do |f| %>
  <span id="errors"></span>

  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li style="color:red"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <span><b>Tickets</b></span>

  <br>

  <% @packages.each do |package| %>
    <% purchased_package = @purchase.purchased_packages.detect {|e| e.package_id == package.id } %>
    <%= f.fields_for(:purchased_packages, purchased_package || @purchase.purchased_packages.build) do |package_fields| %>
        <div class="form-row">
          <%= package.title %>
          <%= package_fields.text_field :quantity, class: "quantity_select", type: "number", size: 2, min: 0 %>
          <%= package_fields.hidden_field :package_id, value: package.id %>
        </div>
    <% end %>
  <% end %>

  <br>

  <span><b>Personal information</b></span>

  <div class="form-row">
    <%= f.label :name %>
    <%= f.text_field :name, name: "purchase[name]" %>
  </div>

  <div class="form-row">
    <%= f.label :email %>
    <%= f.text_field :email, name: "purchase[email]" %>
  </div>

  <%= f.hidden_field :stripe_token, name: "purchase[stripe_token]", id: "stripe_token" %>
  <%= f.hidden_field :masked_cc_number, name: "purchase[masked_cc_number]", id: "hidden_card_number" %>
  <%= f.hidden_field :masked_cvc, name: "purchase[masked_cvc]", id: "hidden_cvc" %>
  <%= f.hidden_field :cc_expiration_date, name: "purchase[cc_expiration_date]", id: "hidden_exp" %>
<% end %>

<br>

<form action="" method="post" id="payment_form">
  <span><b>Card information</b></span>

  <div class="form-row">
    <label>
      <span>Card Number</span>
      <input type="text" size="20" data-stripe="number" id="card_number">
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>CVC</span>
      <input type="text" size="3" data-stripe="cvc" id="cvc">
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Expiration (MM/YYYY)</span>
      <input type="text" size="2" data-stripe="exp-month" id="exp_month">
    </label>
    <span> / </span>
    <input type="text" size="4" data-stripe="exp-year" id="exp_year">
  </div>

  <br>

  <button type="submit">Submit Payment</button>
</form>
