<div class='cart-items'>
  <% cart_tickets.each do |purchase| %>
    <% revision = TicketRevision.find_by(id: purchase.ticket_revision_id) %>
    <div class='grid no-gutter align-middle cart-item'>
      <div class='grid-cell one-of-two'>
        <%= link_to "delete", delete_purchase_sale_path(redemption_code: @sale.redemption_code, purchase_id: purchase.id), method: :delete, class: 'cart-delete-item', title: "remove from cart" %>
        <span class='cart-item-name'><%= revision.ticket_data["name"] %></span>
      </div>
      <div class='grid-cell one-of-two align-right'>
        <span class='cart-item-price'><%= price revision.ticket_data["price"] %></span><span class='times'>&times;</span><input class='cart-item-count' type="text" name="sale[ticket[ticket_ids][<%= revision.ticket_id %>]]" value="<%= purchase.quantity %>">
      </div>
    </div>
  <% end %>

  <% cart_packages.each do |purchase| %>
    <% revision = PackageRevision.find_by(id: purchase.package_revision_id) %>
    <div class='grid no-gutter align-middle cart-item'>
      <div class='grid-cell one-of-two'>
        <%= link_to "delete", delete_purchase_sale_path(redemption_code: @sale.redemption_code, purchase_id: purchase.id), method: :delete, class: 'cart-delete-item', title: "remove from cart" %>
        <span class='cart-item-name'><%= revision.package_data["name"] %></span>
      </div>

      <div class='grid-cell one-of-two align-right'>
        <span class='cart-item-price'><%= price revision.package_data["price"] %></span><span class='times'>&times;</span><input class='cart-item-count' type="text" name="sale[package[package_ids][<%= revision.package_id %>]]" value="<%= purchase.quantity %>">
      </div>
    </div>
  <% end %>
</div>

