<h2>Quantitites</h2>

<%= form_for @sale, :remote => true, :url => collect_quantity_path, :method => collect_quantity_method, :html => {:id => "ticket_form"} do |f| %>
  <span id="ticket_quantity_errors"></span>

  <h3>Tickets</h3>
  <% @tickets.each do |current_ticket| %>
    <% [current_ticket.revisions.last].each do |revision| %>
      <%= f.fields_for revision do |ticket_fields| %>
        <div class="form-row">
          <% purchase = @sale.purchases.find_by(ticket_revision_id: revision.id) %>
          <% data = revision.ticket_data %>

          <strong><%= data["name"] %></strong> - <%= price(data["price"]) %>
          <% if data["description"] %><p><%= data["description"] %></p><% end %>
          <%= select_tag "ticket[ticket_ids][#{revision.ticket_id}]", options_for_select((0..25).to_a) %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <h3>Packages</h3>
  <% @packages.each do |current_package| %>
    <% [current_package.revisions.last].each do |revision| %>
      <%= f.fields_for revision do |package_fields| %>
        <div class="form-row">
          <% purchase = @sale.purchases.find_by(package_revision_id: revision.id) %>
          <% data = revision.package_data %>

          <strong><%= data["name"] %></strong> - <%= price data["price"] %>
          <%= select_tag "package[package_ids][#{revision.package_id}]", options_for_select((0..25).to_a) %>
          <% if data["description"] %>
            <p><%= data["description"] %> - <span style="color:blue">Save <%= price(current_package.savings) %></span></p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <div>
    <%= f.hidden_field :token, value: @sale.token %>
    <%= f.submit "Continue" %>
  </div>
<% end %>
