<h2>Tickets</h2>

<%= form_for @sale, :remote => true, :url => collect_quantity_path, :method => collect_quantity_method, :html => {:id => "ticket_form"} do |f| %>
  <span id="ticket_quantity_errors"></span>

  <% @tickets.each do |current_ticket| %>
    <% current_ticket.revisions.last.each do |ticket| %>
      <%= f.fields_for ticket do |ticket_fields| %>
          <div class="form-row">
            <%= ticket.title %>
            <%= ticket_fields.text_field :quantity, class: "quantity_select", type: "number", size: 2, min: 0 %>
            <%= ticket_fields.hidden_field :ticket_id, value: ticket.id %>
          </div>
      <% end %>
    <% end %>
  <% end %>

  <div>
    <%= f.hidden_field :js_calculated_price, id: "js_calculated_price" %>
    <%= f.hidden_field :collecting_quantity, value: true %>
    <%= f.hidden_field :redemption_id %>
    <%= f.submit "Continue" %>
  </div>
<% end %>
