<h2>Tickets</h2>

<%= form_for @sale, :remote => true, :url => collect_quantity_path, :method => collect_quantity_method, :html => {:id => "ticket_form"} do |f| %>
  <span id="ticket_quantity_errors"></span>

  <% @tickets.each do |current_ticket| %>
    <% [current_ticket.revisions.last].each do |ticket_revision| %>
      <%= f.fields_for ticket_revision do |ticket_fields| %>
        <div class="form-row">
          <%= ticket_revision.ticket_data["name"] %>
          <input type="text" name="ticket[ticket_ids][<%= ticket_revision.ticket_id %>]" class="quantity_select" type="number" size="2">
        </div>
      <% end %>
    <% end %>
  <% end %>

  <div>
    <%= f.hidden_field :token, value: @sale.token %>
    <%= f.submit "Continue" %>
  </div>
<% end %>
