<div id="personal-info">
  <h2>Personal Information</h2>

  <div class="personal-info-errors"></div>
  
  <%= form_for @sale, :remote => true, :url => update_personal_info_path, :method => 'patch', :html => {:id => "personal_info_form"} do |f| %>
    <% if @sale.errors.any? %>
      <div id="error_explanation">
        <ul>
        <% @sale.errors.full_messages.each do |msg| %>
          <li style="color:red"><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-row">
      <%= f.text_field :name, class: "big full", placeholder: "Full Name" %>
    </div>

    <div class="form-row">
      <%= f.text_field :email, class: "big full", placeholder: "Email Address" %>
    </div>

    <%= f.hidden_field :redemption_code %>
    <%= f.hidden_field :is_info_form, value: true %>

    <button class='update-personal-info' type='submit'>Submit</button>
  <% end %>
</div>
