<div id="personal-info">
  <h3 class='section-heading'>Your Information</h3>

  <div class="personal-info-errors"></div>
  
  <%= form_for @sale, :remote => true, :url => update_personal_info_path, :method => 'patch', :html => {:id => "personal_info_form"} do |f| %>
    <div class='card'>
      <% if @sale.errors.any? %>
        <div id="error_explanation">
          <ul>
          <% @sale.errors.full_messages.each do |msg| %>
            <li style="color:red"><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class='form-row'>
        <%= f.text_field :name, class: "big full", placeholder: "Full Name" %>
      </div>

      <div class='form-row'>
        <%= f.text_field :email, class: "big full", placeholder: "Email Address" %>
      </div>

      <%= f.hidden_field :token %>
      <%= f.hidden_field :is_info_form, value: true %>
    </div>

    <%= render partial: "checkout_form", locals: { button_text: "Continue" } %>
  <% end %>
</div>
