<h2>Personal Information</h2>
<%= form_for @sale, :remote => true, :url => sales_update_personal_info_path, :method => 'patch', :html => {:id => "personal_info_form"} do |f| %>
  <span id="personal_info_errors"></span>

  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @sale.errors.full_messages.each do |msg| %>
        <li style="color:red"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-row">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <%= f.hidden_field :token %>
  <%= f.hidden_field :finalizing, value: true %>

  <br>

  <%= f.submit "Pay" %>
<% end %>
