<h3>Tickets</h3>
<div class='tickets'>
  <% @tickets.each do |current_ticket| %>
    <% [current_ticket.revisions.last].each do |revision| %>
      <% purchase = @sale.purchases.find_by(ticket_revision_id: revision.id) %>
      <% data = revision.ticket_data %>
      <%= form_tag collect_quantity_path, :remote => true, :method => collect_quantity_method do %>
        <div class="ticket">
          <div class="ticket-title">
            <div class="ticket-count">
              <div class="select-box"><%= select_tag "sale[ticket[ticket_ids][#{revision.ticket_id}]]", options_for_select((0..25).to_a, 1) %></div>
              <input type="hidden" name="sale[token]" value="<%= @sale.token %>">
              <input type="hidden" name="adding" value="true">
              <button class="add-to-cart" type="submit">Add</button>
            </div>
            <h4><%= data["name"] %></h4> <span class="ticket-price"><%= price(data["price"]) %></span>
          </div>
          <% if data["description"] %><p><%= data["description"] %></p><% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<h3>Discount Packages</h3>
<div class='tickets'>
  <% @packages.each do |current_package| %>
    <% [current_package.revisions.last].each do |revision| %>
      <% purchase = @sale.purchases.find_by(package_revision_id: revision.id) %>
      <% data = revision.package_data %>
      <%= form_tag collect_quantity_path, :remote => true, :method => collect_quantity_method do %>
        <div class="ticket">
          <div class="ticket-title">
            <div class="ticket-count">
              <div class="select-box"><%= select_tag "sale[package[package_ids][#{revision.package_id}]]", options_for_select((0..25).to_a, 1) %></div>
              <input type="hidden" name="sale[token]" value="<%= @sale.token %>">
              <input type="hidden" name="adding" value="true">
              <button class="add-to-cart" type="submit">Add</button> 
            </div>
            <h4><%= data["name"] %></h4> <span class="ticket-price"><%= price data["price"] %></span>
          </div>
          
          <% if data["description"] %><p class="ticket-description"><%= data["description"] %></p><% end %>
        </div>    
      <% end %>
    <% end %>
  <% end %>
</div>

<div>
  <div class='form-footer'>
    <% if @sale.token %>
      <%= form_tag summary_path(token: @sale.token), method: :get do %>
        <button class='continue' type='submit'>Checkout &rarr;</button>
      <% end %>
    <% end %>
  </div>
</div>

<div id="quick-cart"><%= render 'quick_cart' %></div>
