<% if @sale.persisted? && @sale.charge_total > 0 && @sale.purchases.any? %>
  <div class='quick-cart'>
    <%= form_tag summarize_sale_path(@sale), method: :get, class: 'form-footer cart-form' do %>
      <div class='quick-cart-content'>
        <div class="grid">
          <div class='quick-cart-info grid-cell one-of-two'>
            <%= use_svg 'cart', title: "Cart Subtotal", class: 'quick-cart-icon' %>
            <span id='cart-price' data-value='<%= price(@sale.charge_total - @sale.tax) %>' class='quick-cart-total'><%= price(@sale.charge_total - @sale.tax)%></span>
            <span id='cart-size' data-value='<%= cart_items %>' class='quick-cart-items'>(<%= pluralize(cart_items, 'ticket')%>)</span>
          </div>
          <div class="grid-cell one-of-two quick-cart-button">
            <button class='primary-button' type='submit'>Checkout &rarr;</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

