<h2>Your cart</h2>

<div class='cart-content'>
  <div class='purchases'>
    <div class='cart-tickets'>
      <% @sale.purchases.where(type: "TicketPurchase").each do |tp| %>
        <% ticket = TicketRevision.find(tp.ticket_revision_id) %>
        <div class='cart-ticket'>
          <p><%= ticket.ticket_data["name"] %> x <%= tp.quantity %></p>
        </div>
      <% end %>
    </div>
    <div class='cart-packages'>
      <% @sale.purchases.where(type: "PackagePurchase").each do |tp| %>
        <% package = PackageRevision.find(tp.package_revision_id) %>
        <div class='cart-package'>
          <p><%= package.package_data["name"] %> x <%= tp.quantity %></p>
        </div>
      <% end %>
    </div>
  </div>

  <br>
  <div class='tax'>Tax : <%= price(@sale.tax) %></div>
  <div class='total'>Total : <%= price(@sale.charge_total)%></div>

  <%= link_to "Edit cart", cart_path(token: @sale.token) %>
</div>
