<div class='static-cart grid no-gutter align-middle'>
  <% unless @sale.complete? %>
    <div class='grid-cell one-of-two'><h4 class='cart-heading'>Your Tickets</h5></div>
    <div class='grid-cell align-right one-of-two'>
    <%= link_to "edit cart", cart_path(redemption_code: @sale.redemption_code), class: 'button cart-edit-button' %>
    </div>
  <% end %>
  <div class='grid-cell'>
    <div class='cart-items'>
      <% @sale.purchases.where(type: "TicketPurchase").each do |purchase| %>
        <%= render partial: "static_cart_item", locals: { purchase: purchase } %>
      <% end %>
      <% @sale.purchases.where(type: "PackagePurchase").each do |purchase| %>
        <%= render partial: "static_cart_item", locals: { purchase: purchase } %>
      <% end %>
    </div>
  </div>

  <div class='cart-totals align-right grid-cell'>
    <div class='cart-tax'>Tax: <span class='cart-tax-amount'><%= price(@sale.tax) %></span></div>
    <div class='cart-total'>Total: <span class='cart-total-amount'><%= price(@sale.charge_total)%></span></div>
  </div>
</div>
