<h3 class='section-heading'>Purchase Summary</h3>

<div class='cart-content card'>
  <div class='purchases'>
    <div class='cart-tickets'>
      <% @sale.purchases.where(type: "TicketPurchase").each do |purchase| %>
        <div class='cart-ticket'>
          <p><%= purchase.name %> x <%= purchase.quantity %></p>
          <p><%= link_to "delete", delete_purchase_sale_path(redemption_code: @sale.redemption_code, purchase_id: purchase.id), remote: true, method: :delete %></p>
        </div>
      <% end %>
    </div>
    <div class='cart-packages'>
      <% @sale.purchases.where(type: "PackagePurchase").each do |purchase| %>
        <div class='cart-package'>
          <p><%= purchase.name %> x <%= purchase.quantity %></p>
          <p><%= link_to "delete", delete_purchase_sale_path(redemption_code: @sale.redemption_code, purchase_id: purchase.id), remote: true, method: :delete %></p>
        </div>
      <% end %>
    </div>
  </div>

  <br>
  <div class='tax'>Tax : <%= price(@sale.tax) %></div>
  <div class='total'>Total : <%= price(@sale.charge_total)%></div>

  <%= link_to "Edit cart", cart_path(redemption_code: @sale.redemption_code) %>
</div>
