<h4>Your Tickets
<%= link_to "edit", cart_path(redemption_code: @sale.redemption_code) %>
</h4>
<div class='static-cart'>
  <% @sale.purchases.where(type: "TicketPurchase").each do |purchase| %>
    <%= render partial: "static_cart_item", locals: { purchase: purchase } %>
  <% end %>
  <% @sale.purchases.where(type: "PackagePurchase").each do |purchase| %>
    <%= render partial: "static_cart_item", locals: { purchase: purchase } %>
  <% end %>

  <div class='cart-totals align-right'>
    <div class='cart-tax'>Tax: <span class='cart-tax-amount'><%= price(@sale.tax) %></span></div>
    <div class='cart-total'>Total: <span class='cart-total-amount'><%= price(@sale.charge_total)%></span></div>
  </div>
</div>
