<li data-ticket-id="<%= item_id %>" class="card-list-item grid no-gutter">
  <div class="ticket-title grid-cell small-three-of-four">
    <h4 class='ticket-name'><%= data["name"] %></h4>
    <% if data["description"] %><p class='ticket-description'><%= data["description"] %>
    <% if savings %> - <span class='ticket-savings'>Save <%= savings %><span><% end %>
    </p><% end %>
  </div>
  <div class="ticket-count grid-cell small-one-of-four align-right">
    <%= form_tag collect_quantity_path, :remote => true, :method => collect_quantity_method, class: 'add-ticket-form', data: { id: item_id }  do %>
      <span class="ticket-price"><%= price(data["price"]) %></span>
      <div class="select-box"><%= select_tag "#{name}", options_for_select((0..25).to_a, 0), class: 'ticket-quantity', data: { id: item_id } %></div>
      <input type="hidden" name="adding" value="true">
      <span class='button-wrapper hidden' data-id="<%= item_id %>">
        <button class="add-to-cart" type="submit">Add to cart</button>
      </span>
    <% end %>
  </div>
</li>
