<li class="card-list-item grid no-gutter">
  <div class="ticket-title grid-cell small-three-of-four">
    <h4 class='ticket-name'><%= data["name"] %></h4>
    <% if data["description"] %><p class='ticket-description'><%= data["description"] %>
    <% if savings %> - <span class='ticket-savings'>Save <%= savings %><span><% end %>
    </p><% end %>
  </div>
  <div class="ticket-count grid-cell small-one-of-four">
    <div class="price-grid grid no-gutter">
      <div class="grid-cell one-of-two small-full-width">
        <div class="ticket-price"><%= price(data["price"]) %></div>
      </div>
      <div class="grid-cell one-of-two align-right small-full-width">
        <%= form_tag collect_quantity_path, :remote => true, :method => collect_quantity_method, class: 'ticket-form' do %>
          <div class="select-box"><%= select_tag "#{name}", options_for_select((1..25).to_a, 1) %></div>
          <input type="hidden" name="adding" value="true">
          <button class="add-to-cart" type="submit">Add</button>
        <% end %>
      </div>
    </div>
  </div>
</li>
