<%= form_for @sale, :url => sales_update_cart_path, :html => {id: "cart_form", class: "cart-form"} do |f| %>
  <% cart_tickets.each do |purchase| %>
    <% revision = TicketRevision.find_by(id: purchase.ticket_revision_id) %>
    <div><%= revision.ticket_data["name"] %></div>

    <input class='item-count' type="text" name="sale[ticket[ticket_ids][<%= revision.ticket_id %>]]" value="<%= purchase.quantity %>">
  <% end %>

  <% cart_packages.each do |purchase| %>
    <% revision = PackageRevision.find_by(id: purchase.package_revision_id) %>
    <div><%= revision.package_data["name"] %></div>

    <input class='item-count' type="text" name="sale[package[package_ids][<%= revision.package_id %>]]" value="<%= purchase.quantity %>">
  <% end %>

  <input type="hidden" name="adding" value="">
  <%= f.hidden_field :token, value: @sale.token %>
  <div class='form-footer'>
    <button class='continue' type='submit'>Update Cart</button>
  </div>
<% end %>
