<%= form_for @sale, :url => sales_update_cart_path(redemption_code: @sale.redemption_code), :html => {id: "cart_form", class: "cart-form"} do |f| %>
  <h3 class='section-heading'>Edit Your Purchase</h3>
  <div class='card'>
    <h5 class='cart-heading'>Your Tickets</h5>
    <%= render 'cart_items' %>
    <div class='cart-totals align-right'>
      <div class='cart-tax'>Tax: <span class='cart-tax-amount'><%= price(@sale.tax) %></span></div>
      <div class='cart-total'>Total: <span class='cart-total-amount'><%= price(@sale.charge_total)%></span></div>
    </div>

  </div>

  <input type="hidden" name="adding" value="">

  <div class="form-footer grid align-middle no-gutter">
    <div class="grid-cell one-of-two">
      <%= link_to 'Cancel', summarize_sale_path(@sale), class: 'back-link' %>
    </div>
    <div class="grid-cell one-of-two align-right">
      <button type="submit" class="primary-button">Update Cart</button>
    </div>
  </div>
<% end %>
