<%= form_for @sale, :url => sales_update_cart_path(redemption_code: @sale.redemption_code), :html => {id: "cart_form", class: "cart-form"} do |f| %>
  <h3 class='section-heading'>Edit Your Purchase</h3>
  <div class='card'>
    <% cart_tickets.each do |purchase| %>
      <% revision = TicketRevision.find_by(id: purchase.ticket_revision_id) %>
      <div class='grid no-gutter align-middle cart-item'>
        <div class='grid-cell one-of-two'>
          <%= link_to "delete", delete_purchase_sale_path(redemption_code: @sale.redemption_code, purchase_id: purchase.id), method: :delete, class: 'cart-delete-item', title: "remove from cart" %>
          <span class='cart-item-name'><%= revision.ticket_data["name"] %></span>
        </div>
        <div class='grid-cell one-of-two align-right'>
          <span class='cart-item-price'><%= price revision.ticket_data["price"] %></span><span class='times'>&times;</span><input class='cart-item-count' type="text" name="sale[ticket[ticket_ids][<%= revision.ticket_id %>]]" value="<%= purchase.quantity %>">
        </div>
      </div>
    <% end %>

    <% cart_packages.each do |purchase| %>
      <% revision = PackageRevision.find_by(id: purchase.package_revision_id) %>
      <div class='grid no-gutter align-middle cart-item'>
        <div class='grid-cell one-of-two'>
          <%= link_to "delete", delete_purchase_sale_path(redemption_code: @sale.redemption_code, purchase_id: purchase.id), method: :delete, class: 'cart-delete-item', title: "remove from cart" %>
          <span class='cart-item-name'><%= revision.package_data["name"] %></span>
        </div>

        <div class='grid-cell one-of-two align-right'>
          <span class='cart-item-price'><%= price revision.package_data["price"] %></span><span class='times'>&times;</span><input class='cart-item-count' type="text" name="sale[package[package_ids][<%= revision.package_id %>]]" value="<%= purchase.quantity %>">
        </div>
      </div>
    <% end %>

    <div class='cart-totals align-right'>
      <div class='cart-tax'>Tax: <span class='cart-tax-amount'><%= price(@sale.tax) %></span></div>
      <div class='cart-total'>Total: <span class='cart-total-amount'><%= price(@sale.charge_total)%></span></div>
    </div>

  </div>

  <input type="hidden" name="adding" value="">

  <div class="form-footer grid align-middle no-gutter">
    <div class="grid-cell one-of-two">
      <%= link_to 'Cancel', summarize_sale_path(@sale), class: 'back-link' %>
    </div>
    <div class="grid-cell one-of-two align-right">
      <button type="submit" class="primary-button">Update Cart</button>
    </div>
  </div>
<% end %>
