<% content_for :head do %>
  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
<% end %>

<% if !iphone? %>
  <div class='grid no-gutter'>
    <div class='grid-cell auto'>
      <%= link_to "workflow://run-workflow?name=Scan%20Ticket" do %>
        <%= svg_icon 'qr' %>
      <% end %>
    </div>
    <div class='grid-cell five-of-six'>
      <%= render partial: 'search_tickets' %>
    </div>
  </div>
<% else %>
  <%= render partial: 'search_tickets' %>
<% end %>


<% @sales.each do |sale| %>
  <div>
    <%= link_to sale.name, "/sales/#{sale.redemption_code}" %> - <%= sale.email %>
     - <%= price sale.charge_total %>
    <% if sale.claimed_on != nil %><span style="color:red">Redeemed On: <%= sale.claimed_on %></span><% end %>
  </div>
<% end %>

<%= will_paginate @sales %>

