<% content_for :head do %>
  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
<% end %>

<% if !iphone? %>
  <%= link_to "Scan Ticket", "workflow://run-workflow?name=Scan%20Ticket" %>
<% end %>

<%= form_tag sales_path, :method => "get" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% @sales.each do |sale| %>
  <div>
    Name: <%= sale.name %><br>
    Total Price: $<%= sale.charge_total / 100.00 %><br>
    Tax: $<%= sale.tax / 100.00 %><br>
    Email: <%= sale.email %><br>
    <ol>
      <% sale.purchases.each do |purchase| %>
        <% purchase.redemption_codes.each do |rc| %>
          <li>Type: <%= purchase.type %>,<br>
            Redemption Code: <%= rc.code %>,<br>
            <% if rc.claimed_on != nil %><span style="color:red">Redeemed On: <%= rc.claimed_on %></span>,<br><% end %>
            Expires On: <%= purchase.expires_on %><br>
            <%= link_to "Show", "/sales/#{rc.code}" %></li>
        <% end %>
      <% end %>
    </ol>
  </div>

  <hr>
<% end %>

<%= will_paginate @sales %>

