<% content_for :head do %>
  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
<% end %>

<% Sale.all.each do |sale| %>
  <div>
    Name: <%= sale.name %><br>
    Total Price: <%= sale.total_price %><br>
    Tax: <%= sale.tax %><br>
    Email: <%= sale.email %><br>
    <ol>
      <% sale.purchases.each do |purchase| %>
        <li>Redemption Code: <%= purchase.redemption_code %>, Redeemed On: <%= purchase.redeemed_on %>, Expires On: <%= purchase.expires_on %></li>
      <% end %>
    </ol>
  </div>
<% end %>

<hr>
