<% content_for :head do %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
<% end %>

<div><%= link_to 'Choose Tickets', new_sale_path(token: @sale.token) %> > <strong>Contact Info</strong> > Complete Purchase</div>

<h2>Personal Information</h2>
<div id="personal-info">
<%= form_for @sale, :remote => true, :url => update_personal_info_path, :method => 'patch', :html => {:id => "personal_info_form"} do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @sale.errors.full_messages.each do |msg| %>
        <li style="color:red"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @sale.errors.full_messages.each do |msg| %>
        <li style="color:red"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <%= f.text_field :name, class: "big full", placeholder: "Full Name" %>
  </div>

  <div class="form-row">
    <%= f.text_field :email, class: "big full", placeholder: "Email Address" %>
  </div>

  <%= f.hidden_field :token %>
  <%= f.hidden_field :finalizing, value: true %>

  <div class='form-footer'>
    <button class='continue' type='submit'>Continue to Purchase</button>
  </div>
<% end %>
</div>

<%= render 'cart' %>
