<% if @purchase.expires_on <= Time.now %>
  <span style="color:red; font-size:20px">Expired!</span>

  <br><br>
<% end %>

<table>
  <tbody>
    <tr>
      <th>Name:</th>
      <td><%= @sale.name %></td>
    </tr>
    <tr>
      <th>Total sale price:</th>
      <td>$<%= @sale.charge_total.to_int / 100.00 %></td>
    </tr>
    <tr>
      <th>Purchase type:</th>
      <td><%= @purchase.type.to_s.gsub(/(?<!^)(?=[A-Z])/, " ") %></td>
    </tr>
    <tr>
      <th>Email:</th>
      <td><%= @sale.email %></td>
    </tr>
    <tr>
      <th>Expires on:</th>
      <td><%= @purchase.expires_on %></td>
    </tr>
    <% if @redemption_code.claimed_on != nil %>
      <tr>
        <th>Claimed on:</th>
        <td><%= @redemption_code.claimed_on %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @redemption_code.claimed_on == nil && @purchase.expires_on >= Time.now %>
  <br>
  <form method="post" action="/sales/<%= @redemption_code.code %>/redeem">
    <input type="submit" value="Redeem">
  </form>
<% end %>
