
<% if @purchase.expires_on <= Time.now %>
  <span style="color:red; font-size:20px">Expired!</span>
<% end %>

<div class='card'>
  <div class='grid no-gutter'>
    <div class='grid-cell one-of-two'>
      <h5 class='ticket-name'><%= @sale.name %></h5>
      <div class='ticket-email'><%= @sale.email %></div>
    </div>
    <div class='grid-cell one-of-two align-right'>
      <% if @sale.claimed_on != nil %>
        <div class='ticket-claimed'>Claimed on: <%= @sale.claimed_on %></div>
      <% elsif @purchase.expires_on >= Time.now %>
        <form class='inline-form' method="post" action="<%= resend_email_sale_path(@sale.redemption_code) %>">
          <button class='alt-button' type="submit">Resend Email</button>
        </form>
        <form class='inline-form' method="post" action="<%= redeem_path(@sale.redemption_code) %>">
          <button class='primary-button small' type="submit">Redeem</button>
        </form>
      <% else %>
        Expired: <%= @purchase.expires_on %>
      <% end %>
    </div>
  </div>
  <%= render partial: 'static_cart' %>
</div>

