<% content_for :head do %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script type="text/javascript">
    // Handle Safari back/forward cache after checkout completed.
    $(window).bind("pageshow", function(event) {
      if (event.originalEvent.persisted) {
        window.location.reload()
      }
    });
  </script>
<% end %>

<div id='summary'>
  <div class='card'>

  <h4 class='cart-heading'>Tickets</h4>
  <div id="edit-cart"><%= render 'edit_cart' %></div>

  <h3 class='section-heading'>Purchase Summary</h3>

  <%= form_for @sale, :remote => true, :url => update_personal_info_path, :method => 'patch', :html => {:id => "personal_info_form"} do |f| %>
    <h4 class='cart-heading'>Your Contact Info</h4>
    <div class="personal-info-errors"></div>

    <div class='form-row'>
      <%= f.text_field :name, class: "big full", placeholder: "Full Name" %>
    </div>

    <div class='form-row'>
      <%= f.text_field :email, class: "big full", placeholder: "Email Address" %>
    </div>

    <%= f.hidden_field :mailing_list, value: true %>
    <%= f.hidden_field :redemption_code %>
    <%= f.hidden_field :is_info_form, value: true %>
    </div>

    <div class="form-footer grid align-middle no-gutter">
      <div class="grid-cell one-of-two">
        <%= link_to edit_sale_path(@sale), class: 'back-link' do %>
          &larr; Tickets
        <% end %>
      </div>
      <div class="grid-cell one-of-two align-right">
        <button id='checkout-button' type="submit" class="primary-button">Enter Payment &rarr;</button>
      </div>
    </div>
  <% end %>

  <!-- Keep this div around! It is replaced by the Stripe iframe later on. -->
  <div id="checkout-form"></div>
</div>

<%= form_for @sale, :url => {action: "charge", redemption_code: @sale.redemption_code}, :method => "patch", :html => {:id => "payment_form"} do |f| %>
  <input type="hidden" name="sale[stripe_token]" id="stripe_token"/>
<% end %>

<script type="text/javascript">
  var handler = StripeCheckout.configure({
    key: '<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>',
    token: function(token) {
      payment_form = $('#payment_form');
      payment_form.find('#stripe_token').val(token.id);
      payment_form.submit();
    },
    closed: function() {
      $('#checkout-button').prop("disabled", false);
    }
  });

  $('#sale_name, #sale_email').on('input propertychange paste', function() {
    $('#personal_info_form').submit();
    if (document.getElementById('save')) {
      return;
    }

    $('<input>').attr({
      type: 'hidden',
      id: 'save'
    }).appendTo('#personal_info_form')
  });

  $('#checkout-button').click(function () {
    $('#save').remove();
  });
</script>
