<% content_for :head do %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script type="text/javascript">
    $(window).bind("pageshow", function(event) {
      if (event.originalEvent.persisted) {
        window.location.reload() 
      }
    });
  </script>
<% end %>

<div><%= link_to 'Choose Tickets', new_sale_path(token: @sale.token) %> > <strong>Contact Info</strong> > Complete Purchase</div>

<div class='personal-info'><%= personal_info %></div>

<div class='static-cart'><%= render 'static_cart' %></div>

<% if @sale.email %>
  <%= form_tag checkout_path, remote: true, method: :patch, class: "checkout-form" do %>
    <input type="hidden" name="token" value="<%= @sale.token %>">
    <button type="submit" class="continue">Checkout</button>
  <% end %>
<% end %>
