<nav class='admin-nav'>
  <a href="<%= sales_path %>">
    <%=svg_icon 'search', title: "search" %> <span class="at-least-small">Search</span>
  </a>

  <div class='flex-row'>
    <%= link_to "Tickets", tickets_path %>
    <%= link_to "Users", admins_path %>
    <%= link_to "Store", root_path %>
    <%= link_to "Store Settings", settings_path %>
    <%= link_to "Your account", edit_admin_registration_path %>
    <%= link_to "Sign out", destroy_admin_session_path, method: :delete %>
  </div>
</nav>
