<nav class='admin-nav'>
  <div class='mobile-nav auto-width-columns flex-row until-small'>
    <a href="<%= sales_path %>">
      <%= use_svg 'search', title: "search" %> Purchases
    </a>
    <span class='flex-row-spacer'></span>
    <span class='flex-row-spacer'></span>
    <a href='#' data-toggle-class='#main-nav; hidden-until-small'>
      <%= use_svg 'menu', title: "Navigation" %>
    </a>
  </div>

  <div id='main-nav' class='flex-row auto-width-columns flex-after-small hidden-until-small'>
    <a href="<%= sales_path %>" class='at-least-small'>
      <%= use_svg 'search', title: "search" %> Purchases
    </a>

    <%= link_to "Tickets", tickets_path, class: 'alt-nav' if is_admin? %>
    <%= link_to "Store", root_path, class: 'alt-nav' %>
    <%= link_to "Store settings", settings_path, class: 'alt-nav' if is_admin? %>
    <%= link_to "Users", admins_path, class: 'alt-nav' if is_admin? %>
    <%= link_to "Your account", edit_admin_registration_path, class: 'alt-nav' %>
    <%= link_to "Sign out", destroy_admin_session_path, method: :delete, class: 'alt-nav' %>
  </div>
</nav>
