<!DOCTYPE html>
<html>
<head>
  <title>DeSoto Billing</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<% if admin_signed_in? %>
  <%= link_to "Sign Out", destroy_admin_session_path, method: :delete %>
  <!-- <a method="delete" href="/admin/sign_out">Sign Out</a> -->
<% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
