<!DOCTYPE html>
<html lang='en' class='staff-pages'>
<head>
  <title>Ticket Store</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
</head>
<body>
<% if admin_signed_in? %>
  <%= render partial: "layouts/admin_nav" %>
<% end %>

<div class='site'>
  <div class='site-content'>
    <% if !notice.nil? %><p class="notice" style="color:green"><%= notice %></p><% end %>
    <% if !alert.nil? %><p class="alert" style="color:#FFCC00"><%= alert %></p><% end %>
    <%= yield %>
  </div>
</div>

</body>
</html>
